.container{
    margin-top:80px
}
.userlist{
    margin-bottom: 20px
}

.overflow {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selected{
      background-color: antiquewhite;
      padding: 5px;
  }

  .btndetails{
      padding-bottom: 20px;
  }

  .userImage{
    height:100px;
    width:100px;
    margin-top: 10px;
  }

  .required{
      color:red;
  }

  .pointer{
      cursor: pointer;
  }
  .verticle {
    border-left: 2px solid gray;
    height: 100px;
    padding-left:5px;
  }